* {
	margin: 0;
	padding: 0;
}
html{
	background: url("../img/layout/background-repeat.jpg") repeat;
}
body {
	font-family: Roboto, sans-serif;
	}

h1 {
	color: #184771;
	margin-bottom: 40px;
}

h2 {
	color: #17466f;
	padding-top: 40px;
	padding-bottom: 10px;
	}

h3 {
	color: #184771;
	font-weight: lighter;
 }

.wraper {
	width: 1176px;
	margin: 0px auto;
	text-align: center;
	background-image: url("../img/layout/light.png"); 
    background-position:topcenter; 
    background-repeat: no-repeat; 	
}

#header {
	height: 150px;
	width: 100%;
	padding-top: 50px;
	}

#logo {
	float: left;
}
li {
	list-style: none
	}
	
a {text-decoration: none;
	}	


.main-navigation {
	float: right;
	}
	
.main-navigation li{
	height: 50px;
	margin: 0px 2px;
	padding: 0px 6px;
	float: left;
}
.main-navigation li a{
	height: 42px;
	padding: 10px 16px 0px;
	float: left;
	position: relative;	
	text-decoration: none;
	color: white;
	font: normal 15px 'Roboto', sans-serif;
	background: url("../img/layout/main-navigation-repeat.png") repeat-x 0 -9000px;
}
.main-navigation li a:hover, .main-navigation li.active a{
	color: white;
	background-position: 0 0;
}
.main-navigation li a:hover:before, .main-navigation li a:hover:after, .main-navigation li.active a:before, .main-navigation li.active a:after{
	display: block;
}
.main-navigation li a:before, .main-navigation li a:after{
	width: 6px;
	height: 45px;
	content: '';
	position: absolute;
	top: 0;
	display: none;
}
.main-navigation li a:before{
	left: -4px;
	background: url("../img/layout/main-navigation-left.png") no-repeat 0 0;
}
.main-navigation li a:after{
	right: -5px;
	background: url("../img/layout/main-navigation-right.png") no-repeat 0 0;
}


#content {
	margin-top: -50px;
	padding-top: 60px;
	width: 100%;
	background-color: white;
	}
	
#content form {
	padding: 0 24px;	
	}
	
#content_block { 
	height: auto;
	width: 100%;
	background-color: white;
	padding-top: 80px;
	}
			
#content_block div {
	overflow: hidden;
	}	
	


.content_menu {
	width: 190px;
	margin-bottom: 50px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	display: inline-block;
	}


.content_menu_name {
	width: 190px;
	padding: 20px 0px;
	border-bottom: 1px solid #dfdfdf;
	font: 24px 'Roboto' bold;
	background: url("../img/layout/cm_shadow.png") bottom repeat-x;
	}

	
.content_menu_img {
	padding: 20px 25px;
	}

.content_menu_button {
	height: 41px;
	background-color: #1a4e7c;
	margin: 15px 35px;
	background: url("../img/layout/button_bottom.png")  repeat-x 0 0;
	padding-top: 10px;
	text-align: center;
	color: white;
	font: 17px white 'Roboto';
		}

.content_menu_blockbutton {
	height: 75px;
	border-top: 1px solid #dfdfdf;
	background-color: #ebf2f7;
	}

#description {
	margin: 20px 0px;
	background-color: #f3f7f9;
	padding: 15px 30px 65px 30px;	
	font: 19px 'Roboto' light;
	background: url("../img/layout/decription_shadow.png") top repeat-x;
}

#description p {
color: #6d839b;
}

#footer {
	padding-bottom: 125px;
	font-size: 13px;
}

#footer span {
	float: left;
	color: #91afc9;
	padding-left: 30px;
}

#footer span a {
	color: #5eacda;
}
#footer  span a:before {
	content: url("../img/layout/twitt.png") ;
}

.sub_navigation {
float: right;
padding-right:30px;

}

.sub_navigation li{
display: inline;
float: left;
padding-left: 10px;
padding-top: 8px;
overflow: hidden;

}

.sub_navigation li a:hover{
color:white;
}	
	
	
.sub_navigation a
{
color: #91afc9;}

.sub_navigation ul {
	float: right;
	padding-right: 0px;
	}